name: 'Check #include guards'

on:
  workflow_dispatch: # 允许手动运行

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
      with:
        fetch-depth: 0
    - name: Validate
      run: python3 scripts/build/check_include_guards.py src/devices src/mame
